*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.ccwp-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.ccwp-form-table th {
	width: auto;
}

.col-12,
.col-lg-6,
.col-lg-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-12 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@media (min-width: 992px) {
	.col-lg-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none;
	}
	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33%;
		flex: 0 0 33%;
		max-width: 33%;
	}
	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-8 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 66%;
		flex: 0 0 66%;
		max-width: 66%;
	}
}
.ccwp-w100 {
	width: 100%;
}
.ccwp-va-m {
	vertical-align:middle
}
.ccwp-buttons {
	margin-bottom: 30px;
}
.ccwp-buttons button {
	cursor: pointer;
}
.ccwp-small {
	font-size: small !important;
}
.wp-picker-holder {
	position: absolute;
    z-index: 100;
}
summary {
	cursor: pointer;
	font-size: large;
	padding-bottom: 15px;
}
details {
	padding-bottom: 15px;
}